@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--pale-blue);
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.card {
  width: 327px;
  height: 567px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

.hero {
  background-image: url("./images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 160px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card h1 {
  margin: 16px 32px;
  margin-top: 32px;
  font-weight: 900;
  color: var(--dark-blue);
  font-size: 22px;
  line-height: 29.11px;
}

.card-description {
  font-weight: 500;
  color: var(--desaturated-blue);
  font-size: 15px;
  line-height: 25px;
  width: 263px;
  text-align: center;
}

.subscription {
  margin: 24px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 279px;
  height: 81px;
  background-color: var(--very-pale-blue);
  border-radius: 11px;
}

.subscription-name {
  font-weight: 900;
  font-size: 14px;
  line-height: 18.52px;
  color: var(--dark-blue);
}

.subscription-period {
  font-weight: 500;
  font-size: 14px;
  line-height: 18.52px;
  color: var(--desaturated-blue);
}

.subscription a {
  color: var(--bright-blue);
  font-weight: 700;
  font-size: 13px;
  line-height: 17.2px;
}

.subscription a:hover {
  text-decoration: none;
}

.card button {
  background-color: var(--bright-blue);
  border: none;
  color: white;
  width: 279px;
  height: 50px;
  border-radius: 11px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 15px;
  line-height: 19.85px;
}

.card button:hover {
  cursor: pointer;
  background-color: #766cf1;
}

.card .cancel {
  font-weight: 900;
  color: var(--desaturated-blue);
  text-decoration: none;
  font-size: 15px;
  line-height: 19.85px;
}

.cancel:hover {
  color: var(--dark-blue);
}

@media (min-width: 576px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
  }

  .card {
    width: 450px;
    height: 697px;
  }

  .hero {
    height: 220px;
  }

  .card h1 {
    font-size: 28px;
    line-height: 37.04px;
    margin-top: 45px;
    margin-bottom: 17px;
  }

  .card-description {
    font-size: 16px;
    width: 354px;
    line-height: 26px;
  }

  .subscription {
    width: 354px;
    padding: 25px 24px;
    margin-top: 20px;
    margin-bottom: 32px;
  }

  .subscription-name,
  .subscription-period {
    font-size: 16px;
    line-height: 21.17px;
  }

  .subscription a {
    font-size: 14px;
    line-height: 18.52px;
  }

  .card button {
    width: 354px;
    margin-bottom: 45px;
  }
}
